doctype html
html
  head
    meta(charset='UTF-8')
    title Carousel
    link(rel='stylesheet prefetch', href='https://dl.dropboxusercontent.com/s/f8koknynsnp9d2k/owl.theme.default.min.css?dl=1')
    link(rel='stylesheet prefetch', href='https://dl.dropboxusercontent.com/s/npj0ketud6mhy0l/owl.carousel.min.css?dl=0')
    link(rel='stylesheet', href='css/style.css')
    link(href='css/simple-sidebar.css', rel='stylesheet')
  body
    .cwrapper
      .owl-carousel.owl-theme
        .slide
          img.slideImage(src='https://www.dropbox.com/s/ntb483yfbixuawk/img.jpg?dl=1', alt='')
          .page_no
            div(style='margin-top: 28%') 01
        .slide
          img.slideImage(src='https://www.dropbox.com/s/ntb483yfbixuawk/img.jpg?dl=1', alt='')
          .page_no
            div(style='margin-top: 28%') 02
        .slide
          img.slideImage(src='https://www.dropbox.com/s/ntb483yfbixuawk/img.jpg?dl=1', alt='')
          .page_no
            div(style='margin-top: 28%') 03
        .slide
          img.slideImage(src='https://www.dropbox.com/s/ntb483yfbixuawk/img.jpg?dl=1', alt='')
          .page_no
            div(style='margin-top: 28%') 04
        .slide
          img.slideImage(src='https://www.dropbox.com/s/ntb483yfbixuawk/img.jpg?dl=1', alt='')
          .page_no
            div(style='margin-top: 28%') 05
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://dl.dropboxusercontent.com/s/bnuvg4ad3vl7nop/owl.carousel.min.js?dl=1')
    script(src='js/index.js')
