doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, shrink-to-fit=no, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Codespace
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/simple-sidebar.css', rel='stylesheet')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    link(rel='stylesheet prefetch', href='https://dl.dropboxusercontent.com/s/f8koknynsnp9d2k/owl.theme.default.min.css?dl=1')
    link(rel='stylesheet prefetch', href='https://dl.dropboxusercontent.com/s/npj0ketud6mhy0l/owl.carousel.min.css?dl=0')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='animate.css')
  body
    #wrapper
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(href='index.html') home
          li.sidebar-brand
            a(href='#') tracks
          li.sidebar-brand
            a(href='#') past years
          li.sidebar-brand
            a(href='faq.html') faq
      #page-content-wrapper(style='background-color: #ffffff;')
        .container-fluid
          .row(style='margin-top: 6vh; margin-bottom: 3vh')
            .col-md-4.col-md-offset-2.col-xs-12.img_hover
              .past.text_head
                font(size='20px')
                  b 2015
              .image
                .text
                  p Hello Shreyansh
            .col-md-4.col-xs-12.img_hover(style='margin-left: 1vw; margin-right: 1vw;')
              .past.text_head
                font(size='20px')
                  b 2016
              .image
                .text
                  p Hello Shreyansh
        div
        script(src='js/jquery.js')
        script(src='js/bootstrap.min.js')
        script.
          $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
          });
        script(src='https://dl.dropboxusercontent.com/s/bnuvg4ad3vl7nop/owl.carousel.min.js?dl=1')
        script(src='js/index.js')
